#root {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

header {
    width: 100vw;
    height: 100px;
    background-color: darkgrey;
}

header>div {
    display: flex;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
}


.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding: 24px;
    outline: 1px solid black;
    width: fit-content;
    max-width: 85vw;
    justify-content: center;
    margin: 5% 0 5% 0;
}

.cardsContainer button {
    height: 250px;
    width: 220px;
    border-radius: 8px 8px;
    background-color: lightgray;
}

.rhinoImg,
.catImg {
    height: 180px;
    width: auto;
}